/**
------------> 椤靛ご銆侀〉鑴氥�佷晶杈瑰鑸牱寮�
*/
.homepage .relateInfoList li.newsListRight .mediaReport li a,a {
    text-decoration: none
}
.rightBarIcon,.serviceSideBar li .icon {
    background-image: url(../image/serviceSideBar_1.png)
}
.register-login {
    background-image: url(../image/register-notice.png)
}

body {
    min-width: 1170px
}

.ol-container {
    width: 1170px
}

.ol-body {
    background-color: #f5f5f5;
    margin-top: 0!important
}

a {
    color: #4e4e4e
}

a:hover {
    color: #ff3d33
}

.pointer {
    cursor: pointer
}

.pos-relative {
    position: relative
}

.pos-absolute {
    position: absolute
}

.color-red {
    color: #f2463d!important
}

.color-yellow {
    color: #fe751b!important
}

.color-blue,.color-blue:hover {
    color: #3da3ea
}

.border-color-red {
    color: #ff3d33!important;
    border: 1px solid #ff3d33!important;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background: #fff!important
}

a.color-red.btn,button.color-red {
    border: 1px solid #ff3d33;
    outline-color: #ff3d33;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background: #ff3d33
}

.index-arrow-icon,.ol-header .arrow-icon {
    background-image: url(../image/arrow_icons.png)
}


.btn-disabled {
    border: 1px solid #eee!important;
    background: #f8f8f8!important;
    color: #999!important
}

.pagination {
    margin-bottom: 40px;
    padding-top: 20px
}

.alert-norecord {
    padding-top: 80px
}

.alert-norecord img {
    display: block;
    margin: 0 auto
}

.account-question-image {
    width: 17px!important;
    height: 17px!important
}

.account-question-image:hover {
    background-image: url(../image/account-question1.png)
}

.transferDialog {
    background: #fff;
    color: #333;
    display: none
}

.transferDialog div,.transferDialog p,.transferDialog span {
    font-size: 16px
}

.transferDialog input[type=text],.transferDialog select {
    width: 280px;
    height: 40px
}

.transferDialog .bottom-line {
    padding-bottom: 25px;
    border-bottom: 1px solid #eee
}

.transferDialog .tf-title {
    height: 65px;
    line-height: 65px;
    text-align: center;
    background: #e76060;
    color: #fff;
    font-size: 20px
}

.transferDialog .tf-content {
    padding: 30px 50px 15px;
    min-width: 300px;
    position: relative
}

.transferDialog .tf-content .amount {
    width: 210px;
    display: inline-block
}

.transferDialog .tf-button {
    text-align: center;
    padding-bottom: 30px
}

.transferDialog .tf-button .tf-protocol {
    color: #ff9000;
    margin-bottom: 20px;
    display: inline-block
}

.transferDialog .tf-button .border-color-red {
    border-color: #e76060!important;
    color: #e76060!important
}

.transferDialog .tf-button .color-red {
    background: #e76060
}

.transferDialog .tf-button button {
    font-size: 16px;
    width: 110px;
    height: 37px
}

.transferDialog .tf-button button.btn-disabled {
    color: #999!important
}

.transferDialog .line {
    margin-top: 20px;
    min-width: 435px
}

.transferDialog .line:first-child {
    margin: 0
}

.transferDialog .account-question-image {
    left: 10px
}
.ol-header .pull-right .homeIcons {
    margin-top: 7px
}

.ol-header .arrow-icon {
    width: 12px;
    height: 6px;
    display: inline-block;
    z-index: 101;
    position: relative;
    top: -3px;
    left: 5px
}

.ol-header .header_nav {
    box-shadow: none;
    -webkit-box-shadow: none;
    position: static;
    height: 110px
}

.ol-header .header_nav a.btn {
    height: auto!important;
    position: relative
}

.ol-header .header_nav a.btn .register-login {
    position: absolute;
    width: 86px;
    height: 29px;
    line-height: 24px;
    top: -25px;
    left: 23px
}

.ol-header .header_nav .color-red {
    background: #f2463d;
    border: 1px solid #f2463d
}

.ol-header .header_nav .border-color-red {
    border: 1px solid #f2463d!important;
    color: #f2463d!important
}

.ol-header .header_nav .logo_new {
    background-image: url(../image/logo_web20170109.gif);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    width: 470px;
    height: 89px;
    margin-top: 18px;
}

.ol-header .header_nav ul {
    height: 24px;
    top: 50px;
    right: 220px
}

.ol-header .header_nav ul li {
    font-size: 18px;
    margin-left: 48px
}

.ol-header .header_nav ul li a {
    position: relative;
    z-index: 101;
    color: #4e4e4e;
    transition: color .2s;
    -moz-transition: color .2s;
    -webkit-transition: color .2s;
    -o-transition: color .2s
}

.ol-header .header_nav ul li a:hover {
    color: #4e4e4e
}

.ol-header .header_nav ul li.active>a {
    color: #ff3d33
}

.ol-header .header_nav ul .submenu-div {
    z-index: 100;
    left: -22px;
    top: 20px;
    border: 1px solid #ededed;
    width: auto;
    height: auto;
    padding-top: 54px;
    margin: -35px 0 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background: #fff;
    box-shadow: -1px 0 4px 1px rgba(237,237,237,.1),1px 0 4px 1px rgba(237,237,237,.1),0 -1px 4px 1px rgba(237,237,237,.1),0 1px 4px 1px rgba(237,237,237,.1)
}

.ol-header .header_nav ul.submenu {
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    border: 0;
    background: 0 0
}

.ol-header .header_nav ul.submenu li {
    border-top: 1px solid #ededed;
    transition: background .1s;
    -moz-transition: background .1s;
    -webkit-transition: background .1s;
    -o-transition: background .1s
}

.ol-header .header_nav ul.submenu li a {
    color: #666;
    font-size: 16px
}

.ol-header .header_nav .header_loan_open a.link,.ol-header .header_nav ul.submenu li:hover a {
    color: #ff3d33
}

.ol-header .header_nav ul.submenu li:hover {
    background: #f5f5f5
}

.ol-header .header_nav ul.submenu li.last {
    border-radius: 0 0 6px 6px
}

.ol-header .header_nav .header_loan_open .arrow-icon {
    background-position: 0 -6px
}

.ol-header .header_nav a.btn {
    float: right;
    width: 80px;
    line-height: 32px;
    text-align: center;
    padding: 0;
    margin: 45px 0 0 10px
}

.ol-header .header_nav .account-info {
    float: right;
    font-size: 18px;
    height: 46px;
    line-height: 46px;
    margin-top: 38px;
    background: #f5f5f5;
    border-radius: 23px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    -o-border-radius: 23px;
    padding-right: 15px;
    cursor: pointer
}

.ol-header .header_nav .account-info img {
    margin-top: -4px;
    display: inline
}

.ol-header .header_nav .account-info span {
    color: #4e4e4e!important;
    cursor: pointer
}

.ol-header .header_nav .account-info .phone,.ol-header .header_nav .account-info:hover .text {
    display: none
}

.ol-header .header_nav .account-info .text,.ol-header .header_nav .account-info:hover .phone {
    display: inline
}

.ol-header .header_nav .gif_box {
    width: 120px;
    height: 98px;
    display: inline-block;
    background: url(../image/gif_bg_logo.gif);
    margin: 12px 0 0 90px
}

.ol-header .headerTop {
    border-bottom: 1px solid #e2e2e2 !important;
    background: #f8f8f8;
    color: #888;
    height: 35px;
    line-height: 35px
}

.ol-header .headerTop .welcome {
    color: #888;
    display: inline;
    position: relative;
    top: -4px
}

.ol-header .headerTop a.link {
    padding: 0 20px
}

.ol-header .headerTop #logout {
    margin: 0 20px 0 15px
}

.ol-header .headerTop .border-right {
    border-right: 1px solid #e2e2e2
}

.ol-header .headerTop a {
    color: #888
}

.ol-header .headerTop .pull-right {
    margin-top: -4px;
    position: relative
}

.ol-header .headerTop .pull-right a:hover {
    color: #f2463d!important
}

.ol-header .headerTop .pull-right .ewm_box {
    padding: 6px;
    position: absolute;
    z-index: 8;
    background-color: #f8f8f8;
    border: 1px solid #e2e2e2;
    top: 33px;
    left: -1px;
    border-top: 0;
    display: none
}

.ol-header .headerTop .border_r {
    padding-right: 7px;
    border-right: 1px solid #f8f8f8
}

.ol-header .headerTop .bor_r {
    border-color: #e2e2e2
}

.ol-header .headerTop .user-news {
    border-left: 1px solid #e2e2e2;
    padding-left: 15px
}

.ol-header .headerTop .user-news:hover {
    color: #888!important
}

.ol-header .headerTop .indexTopIcon {
    position: absolute;
    right: 1px;
    top: 5px;
    display: block;
    background-position: -65px 0;
    width: 22px;
    height: 15px
}

.ol-header .header-pin .gif_box,.over_shade {
    display: none
}

.ol-header .header-pin {
    position: fixed;
    top: -66px;
    height: 66px;
    box-shadow: 0 0 7px rgba(0,0,0,.3);
    z-index: 10001;
}

.ol-header .header-pin .loginRegister {
    margin-top: 12px
}

.ol-header .header-pin .backHome {
    margin-top: 24px
}

.ol-header .header-pin .logo_new {
    background-image: url(../image/logo_sm20170109.gif);
    width: 390px;
    height: 54px;
    margin-top: 7px
}

.ol-header .header-pin ul {
    top: 21px
}

.ol-header .header-pin a.btn {
    margin-top: 17px
}

.ol-header .header-pin a.btn .register-login {
    top: -20px
}

.ol-header .header-pin .account-info {
    margin-top: 10px
}
.over_shade {
    top: 145px;
    z-index: 10000;
    background: #000;
    opacity: .3
}

.over_img {
    z-index: 9999;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -165px
}

.topBanner {
    margin-top: 0
}

.ol-footer {
    background: #3c3b42
}

.ol-footer .topInfo {
    padding: 35px 0 25px
}

.ol-footer .topInfo .relatedLink {
    float: left
}

.ol-footer .topInfo .relatedLink li {
    line-height: 24px
}

.ol-footer .topInfo .relatedLink .relatedLinkTitle {
    color: #bbb;
    font-size: 18px;
    margin-bottom: 11px
}

.ol-footer .topInfo .relatedLink ul {
    margin-right: 100px;
    float: left
}

.ol-footer .topInfo .qrCode-images {
    float: left;
    padding: 13px 35px;
    margin-left: -15px;
    height: 130px;
    border-left: 1px solid #323137;
    border-right: 1px solid #323137
}

.ol-footer .topInfo .qrCode-images .app,.ol-footer .topInfo .qrCode-images .weixin {
    float: left;
    text-align: center;
    color: #bbb
}

.ol-footer .topInfo .qrCode-images .app img,.ol-footer .topInfo .qrCode-images .weixin img {
    display: block;
    margin: 0 20px 10px
}

.ol-footer .topInfo .call-contact {
    float: left;
    padding-left: 50px
}

.ol-footer .topInfo .call-contact div {
    font-size: 24px;
    color: #ddd
}

.ol-footer .topInfo .call-contact .telephone {
    font-size: 36px;
    font-family: Arial;
    margin-top: 5px
}

.ol-footer .topInfo .call-contact .time {
    font-size: 12px;
    color: #999
}

.ol-footer .topInfo .call-contact .callQQ {
    width: 110px;
    height: 30px;
    margin-top: 20px;
    display: inline-block
}

.ol-footer .topInfo .call-contact .callQQ:hover {
    background-position: 0 -30px
}

.ol-footer .trust-icons {
    padding: 20px 0;
    background: #323137;
    color: #666;
    font-size: 12px
}

.ol-footer .trust-icons .pull-left {
    width: 595px
}

.ol-footer .trust-icons .pull-left .copyRight {
    margin-top: 5px
}

.ol-footer .trust-icons .pull-left img {
    float: left;
    margin-right: 10px
}

.ol-footer .trust-icons .pull-left .risk_hint_text {
    margin-left: 10px
}

.ol-footer .trust-icons .icons {
    float: right
}

.ol-footer .trust-icons .icons div {
    float: left;
    margin-left: 12px
}

.footer-icons, .ol-footer .trust-icons .icons div span {
    background-image: url(../image/footer_icons.png);
}


.ol-footer .trust-icons .icons div span {
    width: 32px;
    height: 28px;
    display: inline-block;
    opacity: .7;
    filter: alpha(opacity=70);
    position: relative;
    top: 9px;
    margin-right: 7px
}


.ol-footer .trust-icons .icons div:hover {
    color: #f2463d!important
}

.ol-footer .trust-icons .icons div:hover span {
    opacity: 1;
    filter: alpha(opacity=100)
}

.ol-footer .trust-icons .icons .szfw span {
    background-position: 0 -28px
}

.ol-footer .trust-icons .icons .itrust span {
    background-position: 0 -58px
}

.ol-footer .trust-icons .icons .sgs span {
    background-position: 0 -88px
}

.ol-footer .trust-icons .icons .trustutn-icon {
    background: url(../image/trustutn-icon.png);
    width: 69px;
    height: 26px
}

.ol-footer a {
    color: #999!important
}

.ol-footer a:hover {
    color: #f2463d!important
}

.serviceSideBar {
    top: 50%;
    right: 26px;
    margin-top: -145px;
    position: fixed;
    z-index: 10001;
    width: 71px;
    padding: 6px;
}

.serviceSideBar ul {
    position: relative;
    z-index: 2;
}

.serviceSideBar li {
    position: relative;
    width: 55px;
    height: 55px;
    background-color: rgba(238,238,238,.7);
    margin: 2px;
    cursor: pointer;
    transition: all .2s;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFeeeeee, endColorstr=#BFeeeeee)
}

.qiqius {
    width: 126px;
    height: 189px;
    background: url(../image/navigationLink.gif) no-repeat center top;
    position: absolute;
    top: -145px;
    left: -26px;
    z-index: -2;
}

.qiqius div {
    width: 60px;
    height: 16px;
    font-size: 9px;
    color: #4a1903;
    text-align: center;
    border: 1px solid #6f260d;
    line-height: 14px;
    border-radius: 10px;
    margin: 90px auto 0;
    background:rgba(255,255,255,0.5);
}

.serviceSideBar li .icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 55px;
    z-index: 1;
    -webkit-transition: -webkit-transform .5s,opacity .5s;
    transition: transform .5s,opacity .5s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.serviceSideBar li .txt {
    position: absolute;
    z-index: 2;
    right: 0;
    height: 55px;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    width: 55px;
    text-indent: 0;
    font-size: 14px;
    text-align: center;
    line-height: 22px;
    background-color: #f2463d;
    -webkit-transition: -webkit-transform 1s,opacity 1s;
    transition: transform 1s,opacity 1s;
    -webkit-transform: translate3d(0,25%,0);
    transform: translate3d(0,25%,0)
}

.serviceSideBar li .txt .content {
    display: block;
    margin: 6px 10px
}

.serviceSideBar li:hover {
    transition: all .8s;
    background-color: #f2463d
}

.serviceSideBar li:hover .icon {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0,-25%,0);
    transform: translate3d(0,-25%,0)
}

.serviceSideBar li:hover .microBlogCode,.serviceSideBar li:hover .weChatCodeList {
    top: 0!important;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.serviceSideBar li:hover .txt {
    visibility: visible;
    transition: all .2s;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.serviceSideBar li.calculator .icon {
    background-position: 3px 5px
}

.serviceSideBar li.weChat .icon {
    background-position: -53px 4px
}

.serviceSideBar li.weChat .weChatCodeList {
    position: absolute;
    top: 30px;
    right: 60px;
    background-position: -9px -64px!important;
    background-color: transparent;
    width: 244px;
    height: 148px;
    visibility: hidden;
    opacity: 0
}

.serviceSideBar li.weChat .weChatCodeList .weChatCodeTxt {
    float: left;
    line-height: 35px;
    width: 90px;
    color: #666;
    margin: 100px 15px
}

.serviceSideBar li.weChat .weChatCodeList .weChatCodeTxt2 {
    margin-left: 10px
}

.serviceSideBar li.weChat .weChatCodeList .weChatSubscribe {
    background-position: -3px -125px;
    border-right: 0
}

.serviceSideBar li.weChat .weChatCodeList .weChatService {
    background-position: -125px -125px
}

.serviceSideBar li.weChat .weChatCodeTxt {
    color: #fff;
    font-size: 12px;
    margin-top: 100px;
    text-align: center
}

.serviceSideBar li.weChat .weChatSubscribe {
    background-position: -3px -125px;
    border-right: 1px solid #e94141
}

.serviceSideBar li.weChat .weChatService {
    background-position: -125px -125px
}

.serviceSideBar li.weChat:hover {
    background-color: #d63333
}

.serviceSideBar li.weChat:hover .weChatCodeList {
    visibility: visible;
    transition: all .2s;
    opacity: 1
}

.serviceSideBar li.weChat:hover .icon {
    background-position: -2px -47px
}

.serviceSideBar li.microBlog .icon {
    background-position: -109px 3px
}

.serviceSideBar li.microBlog .microBlogCode {
    position: absolute;
    top: 60px;
    right: 55px;
    background-position: -9px -210px!important;
    width: 135px;
    height: 215px;
    visibility: hidden;
    transition: all .2s;
    opacity: 0
}

.serviceSideBar li.microBlog .microBlogCode .microBlogTxt {
    color: #666;
    font-size: 12px;
    margin: 110px 0 0 20px
}

.serviceSideBar li.microBlog:hover .microBlogCode {
    visibility: visible;
    transition: all .2s;
    opacity: 1
}

.serviceSideBar li.microBlog:hover .icon {
    background-position: -52px -47px
}

.serviceSideBar li.qq .icon {
    background-position: -165px 3px
}

.serviceSideBar li.qq:hover .icon {
    background-position: -102px -47px
}

.serviceSideBar li.goTotop .icon {
    background-position: -221px -2px
}

.serviceSideBar li.goTotop:hover .icon {
    background-position: -149px -47px
}


/*头部 2017-06-01*/
.context {
    width: 1170px;
    margin: 0 auto;
    min-width: 1170px;
}

.ol-head .through-train {
    width: 100%;
    height: 34px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e2e2e2;
    min-width: 1170px;
}

.through-train-in li {
    height: 34px;
    line-height: 32px;
    float: right;
}

.through-train-in li:first-child {
    float: left;
}

.through-train-in li a {
    display: block;
    color: #888;
    float: left;
    padding: 0 20px;
    border-left: 1px solid #e2e2e2;
}

.through-train-in li .message-box {
    padding-right: 0;
}

.through-train-in li a i {
    color: #f2463d;
}

.nav-main-box {
    height: 110px;
}

.nav-main-box div, .nav-main-box ul {
    float: left;
}

.nav-main-box .logo-box {
    width: 485px;
    height: 110px;
    background: url(../image/logo_web20170109.gif) no-repeat left center;
}

.nav-main-box .nav-in {
    height: 30px;
    padding-top: 47px;
}

.nav-main-box .nav-in a {
    padding: 0 30px;
    font-size: 18px;
    color: #4e4e4e;
    line-height: 30px;
    position: relative;
    z-index: 3;
}

.nav-main-box .login-box {
    float: right;
    margin-top: 45px;
}

.nav-main-box .login-box a {
    width: 80px;
    height: 32px;
    display: block;
    float: left;
    text-align: center;
    line-height: 30px;
    border: 1px solid #f2463d;
    color: #f2463d;
    border-radius: 3px;
}

.nav-main-box .login-box .register {
    background-color: #f2463d;
    color: #fff;
    margin-left: 10px;
}

.listBox {
    position: relative;
    margin-right: 12px;
}

.listBox i {
    width: 12px;
    height: 6px;
    display: block;
    position: absolute;
    top: 10px;
    right: 12px;
    background: url(../image/arrow_icons.png)
}

.nav-in div {
    height: 30px;
}

.nav-in .position {
    position: relative;
}

.nav-in .listIn {
    height: auto;
    position: absolute;
    top: -14px;
    left: 10px;
    background-color: #fff;
    border: 1px solid #ececec;
    padding-top: 55px;
    z-index: 2;
    border-radius: 2px;
    box-shadow: -2px 0 4px 1px rgba(237, 237, 237, 0.1), 1px 0 4px 1px rgba(237, 237, 237, 0.1), 0 -1px 4px 1px rgba(237, 237, 237, 0.1), 0 1px 4px 1px rgba(237, 237, 237, 0.1);
    display: none;
}

.nav-in .ComboBox .listIn {
    display: block;
}

.nav-in .listIn a {
    width: 125px;
    display: block;
    padding: 0;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    border-top: 1px solid #ececec;
}

.nav-in .ComboBox .hoverShow {
    color: #ff3d33;
}

.nav-in .ComboBox .hoverShow i {
    background-position: 0 -6px;
}

.nav-in .ComboBox .listIn a:hover {
    background-color: #f7f7f7;
    color: #ff3d33;
}

.account-info {
    background-color: #f5f5f5;
    padding: 0 10px 0 0;
    border-radius: 40px;
}

.account-info img {
    display: block;
    margin-right: 6px;
}

.my-account-box {
    font-size: 18px;
    color: #4e4e4e !important;
    cursor: pointer;
    line-height: 46px;
    display: inline-block;
    margin-right: 5px;
}

.account-info .phone {
    font-size: 18px;
    color: #4e4e4e !important;
    cursor: pointer;
    line-height: 46px;
    display: none;
    margin-right: 10px;
}

/*底部*/
.ol-footer {
    background: #3c3b42;
}

.ol-container {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

.ol-footer .topInfo {
    padding: 35px 0 25px;
    overflow: hidden;
}

.ol-footer .topInfo .relatedLink {
    float: left;
}

.ol-footer .topInfo .relatedLink ul {
    margin-right: 100px;
    float: left;
}

.ol-footer .topInfo .relatedLink li {
    line-height: 24px;
}

.ol-footer .topInfo .relatedLink .relatedLinkTitle {
    color: #bbb;
    font-size: 18px;
    margin-bottom: 11px;
}

.ol-footer a {
    color: #999 !important;
}

.ol-footer .topInfo .qrCode-images {
    float: left;
    padding: 13px 35px;
    margin-left: -15px;
    height: 130px;
    border-left: 1px solid #323137;
    border-right: 1px solid #323137;
}

.ol-footer .topInfo .qrCode-images .app, .ol-footer .topInfo .qrCode-images .weixin {
    float: left;
    text-align: center;
    color: #bbb;
}

.ol-footer .topInfo .qrCode-images .app img, .ol-footer .topInfo .qrCode-images .weixin img {
    display: block;
    margin: 0 20px 10px;
}

.ol-footer .topInfo .call-contact {
    float: left;
    padding-left: 50px;
}

.ol-footer .topInfo .call-contact div {
    font-size: 24px;
    color: #ddd;
}

.ol-footer .topInfo .call-contact .telephone {
    font-size: 36px;
    font-family: Arial;
    margin-top: 5px;
}

.ol-footer .topInfo .call-contact .time {
    font-size: 12px;
    color: #999;
}

.ol-footer .trust-icons {
    padding: 20px 0;
    background: #323137;
    color: #666;
    font-size: 12px;
}

.ol-container {
    width: 1170px;
    overflow: hidden;
}

.pull-left {
    width: 595px;
    clear: none;
    float: left;
}

.aboutUs9 .pull-left {
    width: auto;
}

.ol-footer .trust-icons .pull-left img {
    float: left;
    margin-right: 10px;
}

.ol-footer .trust-icons .pull-left .risk_hint_text {
    margin-left: 10px;
}

.ol-footer .trust-icons .pull-left .copyRight {
    margin-top: 5px;
}

.ol-footer .trust-icons .icons {
    float: right;
}

.ol-footer .trust-icons .icons div {
    float: left;
    margin-left: 12px;
}

.footer-icons, .ol-footer .trust-icons .icons div span {
    background-image: url("../image/footer_icons.png");
}

.ol-footer .trust-icons .icons div span {
    width: 32px;
    height: 28px;
    display: inline-block;
    opacity: .7;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    position: relative;
    top: 9px;
    margin-right: 7px;
}

.ol-footer .trust-icons .icons .itrust span {
    background-position: 0 86px;
}

.ol-footer .trust-icons .icons .sgs span {
    background-position: 0 -88px;
}

.ol-footer .trust-icons .icons .szfw span {
    background-position: 0 -58px;
}

.ol-footer .trust-icons .icons .trustutn-icon {
    background: url("../image/trustutn-icon.png");
    width: 69px;
    height: 26px;
}

.color-text li a {
    color: #f2463d!important;
}

.month-report .pull-left{
    width: auto;
}